* {
  box-sizing: border-box;
}

body {
  background: rgba(72, 163, 0, 0.07);
  font-family: "Poppins", sans-serif;
}

main {
  margin: 0 16px 32px;
}

.title {
  font-size: 64px;
  color: #48a300;
  text-align: center;
}

.title span {
  color: #61481c;
}

.app-container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0 0 10px 5px rgba(72, 163, 0, 0.07);
}

.subtitle {
  
  text-align: left;
}

.progress-label {
  font-size: 14px;
  color: #858585;
  margin-bottom: 18px;
}

.progress-bar {
  height: 30px;
  background-color: rgba(72, 163, 0, 0.07);
  border-radius: 15px;
}

.progress-value {
  height: 100%;
  width: 66%;
  background-color: #48a300;
  border-radius: 15px;
  font-weight: 500;
  font-size: 10px;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* opacity: 0; */
}

.error-label {
  font-size: 14px;
  color: #ff5151;
  margin-block: 20px;
}
.show-error .error-label {
  display: block;
}

.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: #ffffff;
  margin-bottom: 42px;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  
}

.goal-input {
  border: none;
  outline: none;
  margin-left: 22px;
  font-family: inherit;
  font-size: 16px;

  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.goal-input::placeholder {
  color: #d9d9d9;
}

.quote {
  font-weight: 500;
  text-align: center;
}

.made-with {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #858585;
  margin-top: 64px;
}

.completed .custom-checkbox {
  background: #48a300;
  border-radius:#48a300 ;
}

.completed .goal-input {
  color: #48a300;
  text-decoration-line: lightblue;
  
}

@media (max-width: 760px) {
  .title {
    font-size: 32px;
  }

  .app-container {
    padding: 16px 32px;
  }

  .goal-container {
    height: 64px;
  }

  .custom-checkbox{
    height: 20px;
    width: 20px;
  }

  .made-with {
    margin-top: 32px;
  }

  .progress-label {
    height: 24px;
  }
}
